<div class="container">
  <img class="conference-image"  [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date:'shortDate'}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'INR':true}}</div>
    </div>
    <div class="col-md-6">
      <address *ngIf="event?.location"> 
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
      <div *ngIf="event?.onlineUrl">Online URL: {{event?.onlineUrl}}</div>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-md-2">
      <h3 style="margin:0">Sessions</h3>
    </div>

    <div class="col-md-2">
      <a (click)="createNewSession()">Create new Session</a>
    </div>
  </div>

  <br/>
  <session-list *ngIf="!addSessionMode" [sessions]="event?.sessions"></session-list>
  <create-session *ngIf="addSessionMode" (saveNewSession)="addNewSession($event)" (cancelCreateSession)="cancelCreateNewSession()"></create-session>
</div>